# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/

# Virtual environments
venv/
.venv/
env/
ENV/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Allure
allure-results/
allure-report/

# Playwright
test-results/
playwright-report/
trace.zip
*.webm
*.png

# Local secrets
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db