
# Core
playwright==1.48.0
pytest==8.3.3
pytest-playwright==0.5.2
pytest-xdist==3.6.1
pytest-html==4.1.1

# API testing
requests==2.32.3
jsonschema==4.23.0

# Reporting
allure-pytest==2.13.5

# Dev
ruff==0.7.0
black==24.10.0
pre-commit==4.0.1